
<a href="/search/<%= @param %>" style="font-size: 70%;"><< Back to search results</a>
<hr style="margin: 0.5em 0 1em;"/>

<div class="profile clearfix">

  <div class="profile-nav">
    <div class="profile-thumb-wrapper">
      <img class="profile-thumb" src="/images/status-cats/<%= @user['image'] %>.jpeg" width="140" height="190" />
    </div>
    <div class="menu-list-wrapper">
      <ul class="menu-list">
        <li class="menu-list-item <%= "current" if user_view_is? :profile %>">
        <a class="menu-list-item-link" href="<%= link_to_user_view("profile") %>?param=<%= @param %>">Profile</a>
        </li>
        <li class="menu-list-item <%= "current" if user_view_is? :posts  %>">
        <a class="menu-list-item-link" href="<%= link_to_user_view("posts") %>?param=<%= @param %>">Posts</a>
        </li>
        <li class="menu-list-item <%= "current" if user_view_is? :photos %>">
        <a class="menu-list-item-link" href="<%= link_to_user_view("photos") %>?param=<%= @param %>">Photos</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="profile-content-wrapper">

    <div class="profile-content-banner">
      <p class="title"><%= @user['name'] %></p>

      <hr />

      <ul class="profile-info-list">
        <li class="profile-info-list-item">
          <p class="title">Address</p>
          <p><a href="" target="blank"><%= RandomData.address %></a></p>
        </li>
        <li class="profile-info-list-item">
          <p class="title">Phone</p>
          <p><a href="tel:180012341234"><%= RandomData.phone_number %></a></p>
        </li>
        <li class="profile-info-list-item">
          <p class="title">Email</p>
          <p><a href="mailto:happykitty@email.com"><%= RandomData.email_address %></a></p>
        </li>
        <li class="profile-info-list-item">
          <p class="title">Website</p>
          <p><a href="http://happykitty.com" target="blank"><%= RandomData.website_url %></a></p>
        </li>
      </ul>
    </div>

    <div class="profile-content">
      <%= case params[:view]
         when "photos"
           erb :user_photos
         when "posts"
           erb :user_posts
         else
           erb :user_profile
         end
         %>
    </div>

  </div>

</div>
