
<ul class="tile-collection tile-collection-posts">
  <% RandomData.posts.each do |post| %>
    <li class="tile tile-post">
      <a class="tile-post-link" href="">
        <span class="tile-user-post-wrapper">
          <span class="tile-user-post-content">
            <p class="title">
              <%= post['title'] %>
              <small>- <%= RandomData.date %>
                <% if post['network'] %>
                <%= post_via(post) if post['network'] %> <img src="/images/<%= post['network'] %>_16.png" width="10" style="vertical-align: top;" /> <%end %>
              </small>
            </p>
            <p><%= post['body'] %></p>
          </span>
        </span>
      </a>
    </li>
  <% end %>
</ul>
